@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');




h1{
   color: blue;
   font-family: 'Courier New', Courier, monospace;
}
body{
   text-align: center;
}


#guessButton {
   background-color: grey;
   font-family: 'Bitcount Single', monospace;
}
#bar{
   background-color: rgb(227, 227, 219);
}


#guessedNumbers {
   background-color: grey;
   font-family: 'Courier New', Courier, monospace;
}

#guessedNumbers {
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
 }
 
